website/build
target
NDK
bindings/android
bindings/ios
credentials.json
*-engine.json
*.db
.*.swp

# Android stuff.
*.iml
.gradle
local.properties
.idea
build
.DS_Store
captures
.externalNativeBuild
.lastAutoPublishContentsHash

# iOS stuff.
xcuserdata

# Protobuf Swift
*.pb.swift

# UniFFI generated artifacts
components/**/ios/Generated

# Carthage generated artifacts
Carthage
raw_xcodebuild.log
raw_xcodetest.log

# Generated debug symbols
crashreporter-symbols*
automation/symbols-generation/bin/

# Generated mdbook documentation files
build/docs/*
docs/book

# Generated rustdocs
docs/rust-docs

# Generated cxx files
example/cpp-example/cppexample
example/cpp-example/cxx.h
example/cpp-example/lib.rs.cc
example/cpp-example/lib.rs.h
example/cpp-example/libdefi_wallet_core_cpp.a

# python stuff
__pycache__

example/cpp-example/sdk/*
example/vs-example/vs-example/*
example/cpp-example/cppexamplestatic
