name: Android Build CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  android-build:
    runs-on: macos-11
    steps:
      - uses: actions/checkout@v2
      - run: |
          export JAVA_HOME=$JAVA_HOME_8_X64
          export ANDROID_VERSION=`$ANDROID_SDK_ROOT/tools/bin/sdkmanager --list 2> /dev/null | tail -n 5 | grep platform-tools | awk '{print $3}' | awk -F. '{print $1}'`
          echo y | $ANDROID_SDK_ROOT/tools/bin/sdkmanager "system-images;android-$ANDROID_VERSION;google_apis;x86_64"
          echo no | $ANDROID_SDK_ROOT/tools/bin/avdmanager create avd -n testavd -k "system-images;android-$ANDROID_VERSION;google_apis;x86_64"
          $ANDROID_SDK_ROOT/tools/emulator @testavd &
      - name: NDK cache
        uses: actions/cache@v2
        with:
          path: |
            NDK/
          key: ${{ runner.os }}-ndk-${{ hashFiles('android_build.sh') }}
          restore-keys: |
            ${{ runner.os }}-ndk-
      - name: Android module cache
        uses: actions/cache@v2
        with:
          path: |
            mobile_modules/android_module/
          key: ${{ runner.os }}-android-${{ hashFiles('**/Cargo.lock', '**/*.kt', 'android_build.sh') }}
      - name: Rust cache
        uses: Swatinem/rust-cache@v1
      - name: Gradle cache
        uses: actions/cache@v2
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: |
            ${{ runner.os }}-gradle-
      - run: make install-uniffi-bindgen
      - run: |
          export ANDROID_HOME=$HOME/Library/Android/sdk
          export SDKMANAGER=$ANDROID_HOME/cmdline-tools/latest/bin/sdkmanager
          echo y | $SDKMANAGER "ndk;21.4.7075529"
          export NDK_HOME=/Users/runner/Library/Android/sdk/ndk/21.4.7075529
          export JAVA_HOME=$JAVA_HOME_11_X64
          ./android_build.sh x86
